.gitattributes export-ignore
.gitignore export-ignore
make_changelog export-ignore
Basics_of_Program_Memory_and_Variables.ppt export-ignore
Compiling_and_Linking_Overview.ppt export-ignore
Trick_Advanced_Topics.pptx export-ignore
Trick_Software_Design_Document.doc export-ignore
Trick_Software_Development_Plan.doc export-ignore
Trick_Software_Quality_Assurance_Plan.doc export-ignore
Trick_Software_Requirement_Specification.doc export-ignore
Trick_Tutorial_Review.pptx export-ignore
design.doc export-ignore
tutorial.doc export-ignore
users_guide.html export-ignore
MonteCarlo_Presentation.pptx export-ignore
Trick_07_to_10.pptx export-ignore
Trick_Checkpointing_DMTCP.pptx export-ignore
trick_source/data_products/DPX/test export-ignore
