config.status*
config.log
share/trick/makefiles/config_user.mk
object_*
io_src
swig
lib
lib64
lib_Linux_*
lib_Darwin_*
*.lex.c
*.tab.c
*.tab.h
*.swp
*.dox
*.pyc
Makefile_jsc_dirs
.DS_Store
bin/trick-ICG
bin/trick-fxplot
bin/trick-gxplot
bin/trick-trk2ascii
bin/trick-trk2csv
bin/trick-trkConvert
aclocal.m4
autom4te.cache
trick_test
gmon.out
