html {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}
h1,h2 {
    text-align: center;
    width: 100%;
}
/* GRID CONTAINERS */
#parent {
    display: grid;
   /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 2fr;
    width: 100vw;
    height: 100vh;
   /* background-color: palegoldenrod; */
}
#headerchild {
    grid-row: 1;
    grid-column: 1/span 4;
    
}
/*#navchild {
    grid-row: 2;
    grid-column: 2;
    font-size: small;
    background-color: purple;
}*/
#connectionchild {
    grid-row:  4;
    grid-column:3/span all;
   
}
#tablechild {
    grid-row: 3;
    grid-column: 3/span all;
   
}
#modechild {
    grid-row: 2;
    grid-column: 1;
    /*grid-row: 3;
    grid-row: 2;
    grid-column: 1; */
    
}
#buttonchild {
    grid-row: 3;
    grid-column: 1;
}
/*#barchild {
    grid-row: 2;
    grid-column: 2/span 3;
    background-color: yellow;
} */
#bottomchild {
    grid-row: 4;
    grid-column: 1;
}
#timechild {
    grid-row: 3;
    grid-column: 2;
}

/* END OF GRID CONTAINERS */
/* START OF GRID CONTAINER CHILDREN */
#trickpic {
    float: left;
    width: 20%;
}
#line {
    border: 2px solid orangered;
}

.navbutton {
    float: left;
    border: 1px solid red
}
.variables {
    width: 100%;
    border: 2px solid hotpink;
}
.table {
    border: 2px solid darkblue;
    background-color: rgb(57, 139, 253);
    text-align: center;
    font-size:small;
}
.modebar {
    width: 100%;
    text-align: center;
    border: 1px solid black;
}
#modeheader {
    background-color: rgb(57, 139, 253);
    border: 1px solid black;
}
.buttontable {
    width: 100%;
    height: 100%;
}
#buttonheader {
    background-color: rgb(57, 139, 253);
    border: 1px solid black; 
    text-align: left;
}
.cmdbtn {
    background-color: rgb(218, 216, 216);
    text-align: center;
    border: none;
    cursor: pointer;
}
#bartable {
    width: 100%;
}
.bottomheader {
    background-color: rgb(57, 139, 253);
}
.bottomtable {
    width: 100%;
}
.output {
    text-align: center;
    border: 1px solid black;
   
}
#timetable{
  /*  width: 100%; */
  height: 100%;
    
}

#timeheader { 
    background-color: rgb(57, 139, 253);
    border: 1px solid black;
    height: 18%;
}
.barbtn {
    border: none;
}
#isconnected {
    text-align: center;
    align-items: center;
}
td {
    border:1px solid pink;
}