html{
    font-family: sans-serif;
  /* background-color: rgb(235, 232, 232); */
    /*background-image: linear-gradient(rgb(146, 146, 146), white); */
}
button.navbutton{
    float: right;
    border: 1px solid black;
}
#trickpic{
    float: left;
    width: 20%;
}
#modeheader{
    background-color: rgb(57, 139, 253);

  /*background-color: rgb(103, 161, 243);*/
}
.modebar{
    width: 100%;
}
table.variables {
    border-collapse: collapse;
    width: 100%; /* or 50% */
}
th.table{
    border: 2px solid black;
    background-color: rgb(57, 139, 253);

   /* background-color:rgb(103, 161, 243); */
    text-align: center;
    font-size: smaller;
  /* width: 50%; */
}
td{
    border:2px solid black;
    text-align: center;
    font-size: medium;
} 
table.variables tr:nth-child(odd){
    background-color: rgb(218, 216, 216);
}
h2,h1{
    text-align: center;
    width: 100%;
}
button{
    border: none;
    /* background-color: rgb(199, 199, 199); */
    font-size: larger;
    width: 100%;
  
}
.cmdbtn{
    background-color: rgb(218, 216, 216);
    text-align: center;
   
}
.cmdbtn:hover{
    background-color: pink;
}
/*table{
    width: 100px;
} */

#command{
    border: 1px solid black;
    background-color: rgb(57, 139, 253);
    /*background-color: rgb(103, 161, 243); 133,172, 228 */
    text-align: left; 
}
.commands{
   /* background-color: rgb(56, 55, 100); */
    width: 100%;
    height: 100%;  
}
#variableDisplay {
    display: flex;
    flex-direction: column;
}
/*hr{
    size: 1px;
} */
#parent{
    display: grid;
  
   grid-template-columns: 1fr 300px 1fr 4fr; 
  
    grid-gap: 1rem;
   
   
   
}
#navchild{
   /* background-color: orange; */
    grid-row: 2;
    grid-column: 1/span 1;
    border-bottom: 1px solid black;
    font-size: small; 
}
#modechild{
   /* background-color:rgb(14, 236, 25); */
    grid-row: 3;
    grid-column: 1;
    /*border:  1px solid black;  */
    
}
#headerchild{
  /*  background-color: rgb(207, 207, 207); */
    grid-row: 1;
    grid-column: 1/ span 4;
    font-size: smaller;
    

}
#tablechild{
    /*background-color: blue; */
    grid-row: 4;
    grid-column: 3;
    
}
#buttonchild{
    grid-row: 4;
    grid-column: 1;
   /*  background-color: red; */
    border: 1px solid black;
    width: 100%;
   
}
#barchild{
    grid-row: 2;
    grid-column: 2/span 3;
    /* background-color: rgb(255, 1, 149) */
}
#line{
    
    border-top: 2px solid black;
    
}
#bottomchild{
    grid-row: 5;
    grid-column: 1;
   /*  background-color: rgb(251, 255, 13); */
}
.bottomchild{
    width: 50vw;
    /*width: 100vw; */
}
.bottomheader{
    background-color: rgb(57, 139, 253);
   
}
#extrabottomchild{
    grid-row: 6;
    grid-column: 1/span 2;
    /*background-color: rgb(0, 225, 255); */
}


#timechild{
    grid-row: 4;
    grid-column: 2;
    width: 50%;
}
#timetable{
    height: 100%;
}
#timeheader{
    background-color: rgb(57, 139, 253);
   /* background-color: rgb(103, 161, 243);*/

}
