h1 {
    font-family: fantasy, cursive, serif;
    font-size: 32px;
    margin-left: 1em;
}

h2 {
    font-family: sans-serif;
    font-size: 18px;
    margin-left: 1em;
}

a {
    font-family: sans-serif;
    font-size: 16px;
}

div.header { background-image: linear-gradient(#afafff, white); }

