name: macOS

on:
  push:
    branches:
        - master
    paths-ignore:
    - 'docs/**'
    - '.github/workflows/**'
    - '!.github/workflows/test_macos.yml'
  pull_request:
  workflow_dispatch:

jobs:
  macOS:
    runs-on: macos-14-large
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    # Install googletest 1.16.0 due to the later version 1.17.0
    # causing issues with unit tests
    - name: Install gtest 1.16.0
      run: |
        wget https://github.com/google/googletest/archive/refs/tags/v1.16.0.tar.gz
        tar -xvf v1.16.0.tar.gz
        cd googletest-1.16.0
        cmake -S . -B build
        cmake --build build
        sudo cmake --install build
    - name: Install dependencies
      run: |
        brew update
        brew upgrade || true
        brew install --cask xquartz
        brew install udunits openmotif maven
        brew install swig llvm
        # wget https://github.com/llvm/llvm-project/releases/download/llvmorg-15.0.7/clang+llvm-15.0.7-x86_64-apple-darwin21.0.tar.xz
        # tar -xvf clang+llvm-15.0.7-x86_64-apple-darwin21.0.tar.xz
    - name: Build Trick
      run: |
        export MAKEFLAGS=-j4
        # ./configure --with-llvm=${GITHUB_WORKSPACE}/clang+llvm-15.0.7-x86_64-apple-darwin21.0
        ./configure
        make
    - name: Test
      run: |
        cd share/trick/trickops/
        python3 -m venv .venv && source .venv/bin/activate && pip3 install -r requirements.txt
        export MAKEFLAGS=-j4
        cd ../../../; make test
    - name: Upload Tests
      uses: actions/upload-artifact@v4
      if: success() || failure()    # run this step even if previous step failed
      with:
        name: Trick_macos
        path: trick_test/*.xml
        retention-days: 1
